<div class="input-group form-json-group">
    <div class="form-json-group-demo">
        <div class="form-json-item">
            <pre style="display:block;width:100%;padding: 0;margin: 0;background: none;border: 0;"><textarea class="form-control" name="<{$name}>[]" rows="<{$rows}>" placeholder="<{$placeholder}>" disabled></textarea></pre>
            <span class="input-group-btn-fixed">
                 <span class="btn btn-info">↑↓</span>
                <button class="btn btn-danger form-json-delete" type="button">&nbsp;-&nbsp;</button>
            </span>
        </div>
    </div>
    <div class="form-json-group-core">
        <{if count($value) <1 }>
        <div class="form-json-item">
            <pre style="display:block;width:100%;padding: 0;margin: 0;background: none;border: 0;"><textarea class="form-control" name="<{$name}>[]" rows="<{$rows}>" placeholder="<{$placeholder}>"></textarea></pre>
            <span class="input-group-btn-fixed">
                <span class="btn btn-info">↑↓</span>
                <button class="btn btn-danger form-json-delete" type="button">&nbsp;-&nbsp;</button>
            </span>
        </div>
        <{else/}>
        <{foreach $value as $k=>$v}>
        <div class="form-json-item">
            <pre style="display:block;width:100%;padding: 0;margin: 0;background: none;border: 0;"><textarea class="form-control" name="<{$name}>[]" rows="<{$rows}>" placeholder="<{$placeholder}>"><{$v}></textarea></pre>
            <span class="input-group-btn-fixed">
                <span class="btn btn-info">↑↓</span>
                <button class="btn btn-danger form-json-delete" type="button">&nbsp;-&nbsp;</button>
            </span>
        </div>
        <{/foreach}>
        <{/if}>
    </div>
    <span class="form-json-group-add">
         <button class="btn btn-success form-json-add" type="button">
                <i class="fa fa-plus"></i>
                <span>追加</span>
         </button>
    </span>
</div>

